h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 18px;
    margin-bottom: 10px;
}

body{    overflow-x: hidden;
    overflow-y: hidden;background-color:#093655;color:#fff;text-align:center;width:1920px;height: 1080px; padding:10px 0}
.mt6{margin-top:6px!important}
.mt15{margin-top:15px!important}
.mt30{margin-top:30px;}
.mb0{margin-bottom: 0!important;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px}
.pt30{padding-top:30px}
.pt50{padding-top:50px}
.pl0{padding-left:0}
.pl28{padding-left: 28px;}
.pr0{padding-right:0}
.h300{height:300px}
.tl{text-align:left}
.my-container{display:flex}
.myleft{flex:1}
.mymiddle{width:25.6%}
.myright{flex:1}
.my_h2{color:#3cdaff;font-family:'Times New Roman',Times,serif}
.tab-model-01{-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;background-color:#032d46;border:1px solid #174e78}
.tab-model-02{background-color:#032d46;border:1px solid #174e78}
.vertical-middle{float:none;display:inline-block;vertical-align:middle}

.table-content .tl{font-size: 12px;}
.my-table{padding:10px 6px}
.my-table-01{border:1px solid #19507c;margin-top:10px;background-color:#032d46}
.my-table .my-table-tab{display:flex}
.my-table .my-table-tab .my-col-con{width: 306px;}
.my-table .my-table-tab .my-col{width:47px;margin:0 2px;padding:3px 4px;background-color:#114468;border:1px solid #114468;border-bottom:none;color:#4fa3d5;display: inline-block;}
.my-table .my-table-tab .my-col:hover{cursor:pointer}
.my-table .my-table-tab .on{color:#fff;border-color:#184e78;background-color:#032d46}
.my-table .my-table-tab .my-col-more{background-color:#8bc24a;background-color:#8bc24a;color:#fff}
.my-table .my-table-tab .my-col-end{flex:1}
.my-table .my-table-tab .my-col-end-02{text-align:right;padding-right:10px}
.my-table table{width:100%}
.my-table table tr{border-top:1px solid #195076;border-bottom:1px solid #195076}
.my-table table tr td{text-align:center}
.my-table table thead{height:32px;line-height:32px;background-color:#04273b}
.my-table table tbody tr{height:30px;line-height:30px}
.my-table table tbody tr:nth-child(2n+2){background-color:#04273b}
.my-table table tbody tr td.on{color:#d25548}
.my-table table tbody tr td.on1{color:#61ac31}
.my-table table tr td{border:1px solid #19507c}
.my-table table tr td:first-child{border-left:0}
.my-table table tr td:last-child{border-right:0}
.my-table-02 tr{height: 30px!important;line-height: 30px!important;}

.model_02{margin-right:10px;height:352px}
.model_03{padding-top: 1px;}
.model_04,.model_05{margin-right:10px;height:172px;margin-top:8px;position:relative}
.model_06{margin-right:10px;margin-top:9px;height:335px}
.model_07{margin-left:10px;height:352px}
.model_08{margin-left:9px;height:354px;margin-top:7px}
.model_09{margin-left:10px;height:335px;margin-top:9px}
.model_10{margin-top: 8px;}
.model_11{margin-top:8px;padding: 8px 0;}

.title-box{margin-bottom: 10px;}
.title-box p{margin:0 0 4px}
.title-box .left{width:90px;height:90px;background-color:#1d688f;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;display:inline-block;padding:21px 0}
.title-box .left .num{font-size:26px;color:#5db6ca}
.title-box .middle{width:152px;height:144px;display:inline-block;background:url(../images/pc/gg.png) no-repeat center;padding:48px 0}
.title-box .middle-01{background:url(../images/pc/jianbian.png) no-repeat center;    padding: 44px 0;}
.title-box .middle .name{padding-top:14px;color:#a9deff;font-size:14px}
.title-box .middle-01 .name{color:#a9deff;}

.table-content{margin-bottom: 7px;}
.table-content .title{padding-bottom: 12px;font-size: 12px;}
.model_06 .table-content .title{padding-bottom: 6px;font-size: 12px;}
.table-content .num{font-size: 19px;border-bottom: 1px solid #fff;}
.table-content .num_blue{color: #5d6bc0;border-color: #5d6bc0;}
.table-content .num_green{color: #aed92a;border-color: #aed92a;}
.table-content .num_orange{color: #fa753c;border-color: #fa753c;}
.table-content .num_yellow{color: #dda637;border-color:  #dda637;}
.table-content .num_lightbule{color: #3cdaff;border-color: #3cdaff;}
.table-content .num_purple{color: #d16db3;border-color: #d16db3;}
.table-content .num_red{color: #a9423d;border-color: #a9423d;}
.table-content .num_gay{color: #a6aea2;border-color:  #a6aea2;}

.echarts_02{width:100%;height:110px}
.echarts_03{width:100%;height:110px}
.echarts_04{width:100%;height:120px}
.echarts_05{width:100%;height:120px}
.echarts_tip .red{color:#00a33b;font-style: normal;}
.echarts_tip .green{color:#d34141;font-style: normal;}
.echarts_tip_01{position:absolute;right:21px;bottom:11px}
.echarts_tip_02{margin-top:10px}

.model_11 .bar{padding-top:10px}
.model_11 .bar:before{content:"";display:inline-block;height:100%;vertical-align:middle}
.model_11 .bar .next,.model_11 .bar .pre{cursor:pointer;vertical-align:middle;color:#38afff;width:80px;height:20px;line-height:20px;display:inline-block}
.model_11 .bar .pre{background:url(../images/pc/left.png) no-repeat right;padding-right:30px}
.model_11 .bar .next{background:url(../images/pc/right.png) no-repeat left;padding-left:30px}
.model_11 .bar .pause{cursor:pointer;margin:0 2px;vertical-align:middle;width:45px;height:25px;background:url(../images/pc/zanting.png) no-repeat;display:inline-block}
.model_11 .bar .on{    background: url(../images/pc/bofang.png) no-repeat;}

.first{width:100%;height:95px;background:url(../images/pc/first.png) right no-repeat;margin-top:30px}
.second{width:100%;height:115px;background:url(../images/pc/second.png) right no-repeat;margin-top:50px}
.first .title{    color: #032d46;
    padding-top: 29px;
    width: 58%;
    margin-left: 20%;
    /* padding-left: 37%; */
    line-height: 16px;
    font-size: 13px;}
.first .num{color:#f27950;font-size:19px;margin-top:-1px}
.second .title{padding-top:32px;margin-left: -3%;}
.second .title2{    width: 66%;
    padding-top: 30px;
    margin-left: 15%;
    /* padding-left: 45px; */
    line-height: 16px;
    font-size: 13px;}
.second .num{font-size:28px;margin-top:-4px;    margin-left: -6%;color:#fffc00}

/* .loading{width:100%;height:100%;position:fixed;    top: 0;left:0;z-index:100;background-color:#fff}
.loading .pic{width:100px;height:100px;    background: url(../images/pc/loader.gif) no-repeat center;
    background-size: 100%;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto}
 */
    .loading{width:100%;height:100%;position:fixed;    top: 0;left:0;z-index:100;}
.loading .bg{width:100%;height:100%;background-color:black;opacity: 0.75;filter:alpha(opacity=75);osition: relative;}
.loading .pic {width: 60px;height: 60px;margin-left: -30px;margin-top: -30px;  position:absolute;top:50%; bottom:0;left:50%;right:0;}
.loading .pic i{display:block;float:left;width:6px;height:50px;background:#3cdaff;margin:0 2px;transform:scaleY(.4);animation:load 1.2s infinite}
.loading .pic i:nth-child(2){animation-delay:0.1s;}
.loading .pic i:nth-child(3){animation-delay:0.2s;}
.loading .pic i:nth-child(4){animation-delay:0.3s;}
.loading .pic i:nth-child(5){animation-delay:0.4s;}
@-webkit-keyframes load{
    0%,40%,100%{transform:scaleY(0.4)}
    20%{transform:scaleY(1)}
}